<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/goforward/src/client/edu/gmu/isa681/client/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.gmu.isa681.client.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="goforward"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djavax.net.ssl.trustStore=src/client/truststore.jks -Djavax.net.ssl.trustStorePassword=123456"/>
</launchConfiguration>
